APP_ENV=development

GCLOUD_BACKEND_URL=https://your-gcloud-backend-url/api/py/
RENDER_BACKEND_URL=https://your-render-backend-url/api/py/
LOCAL_BACKEND_URL=http://localhost:8000/

ALGORITHM=HS256
FRONTEND_URL=http://localhost:3000
JWT_REFRESH_SECRET_KEY=your_jwt_refresh_secret_key_here
JWT_SECRET_KEY=your_jwt_secret_key_here

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_your_stripe_publishable_key_here

IS_RENDER=False
NEXT_PUBLIC_LOCAL_DOMAIN="lvh.me:3000"
NEXT_PUBLIC_DOMAIN="yourdomain.com"
